

*{
  box-sizing: border-box;
}

body {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  min-height: 100vh;
}
.parent{
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 100%;
}
.main{
  position: relative;
  width: 70%;
}
.main .alert{
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}






.taskmanagebar{
  height: 50px;
  position: relative;
}
ul{
  margin-top: 60px;
  margin-left: 0;
  padding-left: 0;
}
li{
  list-style: number;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  z-index: 2;
  width: 60%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transform: translate(-50% , -50%);
  -moz-transform: translate(-50% , -50%);
  -ms-transform: translate(-50% , -50%);
  -o-transform: translate(-50% , -50%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.modal h3{
  color: #213547;
}
.modal .btnbox{
  margin-top: 200px;
  display: flex;
  justify-content: center;
  gap: 10%;
}
.txtitem{
  width: 100%;
  text-align: left;
  padding-left: 10px;
}
.iconbx{
  display: flex;
}

@media (max-width: 650px) {
  .main{
    width: 100%;
  }
}